{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <p>Portfolio</p>
    <table>
        <thead>
            <tr class="account_header">
                <th>Symbol</th>
                <th># of Shares</th>
                <th>Total Cost</th>
                <th>Time/Date</th>
            </tr>
        </thead>
        <tbody>
            <tbody>
<!--                {% for entry in data %}-->
<!--                <tr class="account_body">-->
<!--                    <td class="symbol">{{ entry['ticker'] }}</td>-->
<!--                    <td class="shares">{{ entry['shares'] }}</td>-->
<!--                    <td class="cost">{{ entry['cost'] }}</td>-->
<!--                    <td class="time">{{ entry['time'] }}</td>-->
<!--                </tr>-->
<!--                {% endfor %}-->
            </tbody>
{% endblock %}